@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse font/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css reset */
* {
    margin: 0;
}

#background-photo-credit a {
    color: white;
}
#bottom-row a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

/* page structure */
body {
    display: flex;
    height: 100vh;
}

/* page layout */
#left-column {
    display: flex;
    flex: 1;
}
#right-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}
#top-row, #mid-row, #bottom-row {
   height: 33.33%;
}
#top-row, #bottom-row {
    background-color: #f9fafb;
}
.form-container, #text {
    width: 75%;
}

legend, fieldset > div, #top-row, #bottom-row {
    padding-left: 3%;
}

/* image structure */
#images {
    position: relative;
    height: 100%;
    display: flex;
}
#background-photo-credit {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 50%; /* aligns the left edge point aligns with the center*/
    transform: translateX(-50%); /* shift the left edge back by half its width */
}

#background-img {
    position: relative;
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

    font-family: 'norsebold';
    font-size: 100px;
    color: white;
}
#logo-img {
    width: 15%; 
}

/* text structure */
#top-row {
   position: relative;
}
#text {
    position: absolute;
    top: 50%;

    font-size: 20px;
    font-weight: 750;
    overflow: auto;
}

/* inputs structure */
.form-input {
    flex: 1 1 45%;
    height: 100%;
}
form {
    width: 100%;
    height: 100%;
}
fieldset {
    height: 95%; /* something is ruining spacing by 5 something.. */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
legend {
    position: absolute;
    top: 20px;
    font-size: larger;
    font-weight: bold ;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 20px;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 2.5px;

    font-weight: 500;
}
input {
    width: 80%;
    padding: 7px;
    border: thin solid #E5E7EB;
    border-radius: 4px;
}
input:focus {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
input[type="password"]:invalid {
    border-color: red;
}

/* submit & log-in structure */ 
#bottom-row {
    padding-top: 30px;
}
#bottom-row button {
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;

    background-color: #596D48;
    color: white;
    font-weight: bold;
}